# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js
neutralino.d.ts

# Neutralinojs related files
.storage
.tmp
*.log

# Assets from setup.sh
alpine.js
emoji-picker-element.js
database.js
picker.js
