body {
  margin: 0;
  background-color: transparent;
}

[x-cloak] {
  display: none !important;
}

emoji-picker {
  width: 400px;
  height: 300px;
}

.notice-container {
  position: fixed;
  bottom: 0;
  margin: 2rem 0;
  width: 100vw;
  text-align: center;

  .notice {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: small;
    user-select: none;
    cursor: default;
  }
}

#drag-handle {
  cursor: grab;
  background-color: rgba(22, 22, 22, 0.75);
  height: 24px;
}
