body {
  margin: 0;
  background-color: transparent;
}

[x-cloak] {
  display: none !important;
}

emoji-picker {
  width: 100vw;
  height: 100vh;

  --border-radius: 1rem;
  --input-border-radius: .75rem;
  --input-padding: 0.25rem .5rem;
}

.notice-container {
  position: fixed;
  bottom: 0;
  margin: 2rem 0;
  width: 100vw;
  text-align: center;

  .notice {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    font-size: small;
    user-select: none;
    cursor: default;
  }
}
